			<!-- Header -->
			<header class="header">
				<div class="holder">
				
				<!-- Logo -->
				<div class="logo">
					<a href="home.html">
						<img src="img/logo_sigma.png" width="192" alt="">
					</a>
				</div>
				<!-- END Logo -->

				<!-- Burger Menu -->
				<div class="burger-menu">
				  <div class="line-1"></div>
				  <div class="line-2"></div>
				  <div class="line-3"></div>
				</div>
				<!-- END Burger Menu -->

				<!-- Navigation Holder -->
				<div class="navigation-holder">

					<!-- Main Search Mobile -->
					<div class="main-search-input-box-mobile">
						<div class="hold">
							<input type="text" class="input main-search-input" placeholder="Search...">
							<button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
						</div>
					</div>
					<!-- END Main Search Mobile -->

					<!-- Navigation -->
					<ul class="navigation">
						<li class="first-item">
							<a class="link">Our Services</a>

							<!-- Navigation Inside -->
							<div class="navigation-inside-holder">
								<div class="navigation-inside">
									<div class="menu">
										<div class="title">Our Services</div>
										<ul class="navigation-inside-list">
											<li class="has-dropdown">
												<a class="link" href="#">Our Brands</a>
												
												<!-- Navigation Inside Second -->
												<div class="navigation-inside-second">

													<ul class="navigation-inside-list-second">
														<li>
															<a class="link" href="#">Link 1</a>
															
															<!-- Navigation Inside Third -->
															<div class="navigation-inside-third">
																<div class="image">
																	<img src="img/office-img.jpg" alt="">
																</div>
																<div class="heading">
																	Heading goes over here
																</div>
																<div class="text">
																	Dus nos rehenis demquia comniatio. Nequodi peles doloribus eriosandit harcipsam alis.
																</div>
																<div class="btn-box">
																	<a href="#" class="btn btn-orange btn-small">Learn more</a>
																</div>
															</div>
															<!-- END Navigation Inside Third -->
														</li>
														<li>
															<a class="link" href="#">Link 2</a>

															<!-- Navigation Inside Third -->
															<div class="navigation-inside-third">
																<div class="image">
																	<img src="img/amcal-img.jpg" alt="">
																</div>
																<div class="heading">
																	Heading 2
																</div>
																<div class="text">
																	Dus nos rehenis demquia comniatio. Nequodi peles doloribus eriosandit harcipsam alis.
																</div>
																<div class="btn-box">
																	<a href="#" class="btn btn-orange btn-small">Learn more</a>
																</div>
															</div>
															<!-- END Navigation Inside Third -->
														</li>
														<li>
															<a class="link" href="#">Link 3</a>

															<!-- Navigation Inside Third -->
															<div class="navigation-inside-third">
																<div class="image">
																	<img src="img/office-img.jpg" alt="">
																</div>
																<div class="heading">
																	Heading goes
																</div>
																<div class="text">
																	Dus nos rehenis demquia comniatio. Nequodi peles doloribus eriosandit harcipsam alis.
																</div>
																<div class="btn-box">
																	<a href="#" class="btn btn-orange btn-small">Learn more</a>
																</div>
															</div>
															<!-- END Navigation Inside Third -->
														</li>
														<li>
															<a class="link" href="#">Link 4</a>

															<!-- Navigation Inside Third -->
															<div class="navigation-inside-third">
																<div class="image">
																	<img src="img/amcal-img.jpg" alt="">
																</div>
																<div class="heading">
																	Heading goes over here 2
																</div>
																<div class="text">
																	Dus nos rehenis demquia comniatio. Nequodi peles doloribus eriosandit harcipsam alis.
																</div>
																<div class="btn-box">
																	<a href="#" class="btn btn-orange btn-small">Learn more</a>
																</div>
															</div>
															<!-- END Navigation Inside Third -->
														</li>
													</ul>
												</div>
												<!-- END Navigation Inside Second -->
											</li>
											<li class="has-dropdown">
												<a class="link" href="#">Why Join Sigma</a>
											</li>
											<li>
												<a class="link" href="#">Our Allied Pharmacy Groups</a>
											</li>
											<li class="has-dropdown">
												<a class="link" href="#">Our Logistics &amp; Supply Network</a>
											</li>
										</ul>
									</div>
									<div class="menu">
										<div class="title">Hospital</div>
										<ul class="navigation-inside-list">
											<li class="has-dropdown">
												<a class="link" href="#">Hospital Pharmacy</a>
											</li>
											<li class="has-dropdown">
												<a class="link" href="#">Hospital Pharmacy</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- END Navigation Inside -->

						</li>
						<li class="second-item">
							<a class="link" href="#">Investor Centre</a>

							<!-- Navigation Inside -->
							<div class="navigation-inside-holder">
								<div class="navigation-inside">

									<div class="menu">
										<ul class="navigation-inside-list">
											<li class="has-dropdown">
												<a class="link" href="#">Corporate Governance</a>
												
												<!-- Navigation Inside Second -->
												<div class="navigation-inside-second">

													<ul class="navigation-inside-list-second">
														<li>
															<a class="link" href="#">Link 1</a>
															
															<!-- Navigation Inside Third -->
															<div class="navigation-inside-third">
																<div class="image">
																	<img src="img/office-img.jpg" alt="">
																</div>
																<div class="heading">
																	Heading goes over here
																</div>
																<div class="text">
																	Dus nos rehenis demquia comniatio. Nequodi peles doloribus eriosandit harcipsam alis.
																</div>
																<div class="btn-box">
																	<a href="#" class="btn btn-small">Learn more</a>
																</div>
															</div>
															<!-- END Navigation Inside Third -->
														</li>
														<li>
															<a class="link" href="#">Link 2</a>

															<!-- Navigation Inside Third -->
															<div class="navigation-inside-third">
																<div class="image">
																	<img src="img/amcal-img.jpg" alt="">
																</div>
																<div class="heading">
																	Heading 2
																</div>
																<div class="text">
																	Dus nos rehenis demquia comniatio. Nequodi peles doloribus eriosandit harcipsam alis.
																</div>
																<div class="btn-box">
																	<a href="#" class="btn btn-small">Learn more</a>
																</div>
															</div>
															<!-- END Navigation Inside Third -->
														</li>
														<li>
															<a class="link" href="#">Link 3</a>

															<!-- Navigation Inside Third -->
															<div class="navigation-inside-third">
																<div class="image">
																	<img src="img/office-img.jpg" alt="">
																</div>
																<div class="heading">
																	Heading goes
																</div>
																<div class="text">
																	Dus nos rehenis demquia comniatio. Nequodi peles doloribus eriosandit harcipsam alis.
																</div>
																<div class="btn-box">
																	<a href="#" class="btn btn-orange btn-small">Learn more</a>
																</div>
															</div>
															<!-- END Navigation Inside Third -->
														</li>
														<li>
															<a class="link" href="#">Link 4</a>

															<!-- Navigation Inside Third -->
															<div class="navigation-inside-third">
																<div class="image">
																	<img src="img/amcal-img.jpg" alt="">
																</div>
																<div class="heading">
																	Heading goes over here 2
																</div>
																<div class="text">
																	Dus nos rehenis demquia comniatio. Nequodi peles doloribus eriosandit harcipsam alis.
																</div>
																<div class="btn-box">
																	<a href="#" class="btn btn-orange btn-small">Learn more</a>
																</div>
															</div>
															<!-- END Navigation Inside Third -->
														</li>
													</ul>
												</div>
												<!-- END Navigation Inside Second -->
											</li>
											<li class="has-dropdown">
												<a class="link" href="#">Share Price Information</a>
											</li>
											<li>
												<a class="link" href="#">ASX Announcements</a>
											</li>
											<li>
												<a class="link" href="#">Financial Information</a>
											</li>
											<li class="has-dropdown">
												<a class="link" href="#">PR / Media Gallery</a>
											</li>
											<li class="has-dropdown">
												<a class="link" href="#">Events &amp; Presentations</a>
											</li>
											<li class="has-dropdown">
												<a class="link" href="#">Investor Contact</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- END Navigation Inside -->
						</li>
						<li class="with-small-menu">
							<a class="link" href="#">About Us</a>

							<!-- Navigation Inside -->
							<div class="drop-small-menu">
								<ul class="navigation-inside-list">
									<li>
										<a class="link" href="#">Who We Are</a>
									</li>
									<li>
										<a class="link" href="#">Our Values</a>
									</li>
									<li>
										<a class="link" href="#">Social Responsibility</a>
									</li>
									<li>
										<a class="link" href="#">Our History</a>
									</li>
									<li>
										<a class="link" href="#">Our Story</a>
									</li>
								</ul>
							</div>
							<!-- END Navigation Inside -->
						</li>
						<li>
							<a class="link" href="#">Supplier Centre</a>
						</li>
						<li>
							<a class="link" href="news-insight.html">News &amp; Insights</a>
						</li>
						<li>
							<a class="link" href="#">Careers</a>
						</li>
						<li>
							<a class="link" href="contact-us.html">Contact Us</a>
						</li>
					</ul>
					<!-- END Navigation -->

					<!-- Main Search -->
					<button class="main-search-btn">
						<span class="icon">
							<i class="fa fa-search" aria-hidden="true"></i>
							<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</button>
					<div class="main-search-input-box">
						<input type="text" class="input main-search-input" placeholder="Search">
					</div>
					<!-- END Main Search -->

					<!-- Nav Linkedin Mobile -->
					<div class="nav-linkedin-mobile">
						<a href="#" class="btn-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					</div>
					<!-- END Nav Linkedin Mobile -->

				</div>
				<!-- END Navigation Holder -->

				</div>
			</header>
			<!-- END Header -->